<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Epic Energy Service- indirizzi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
	<div class="header-menu">Epic Energy Service</div>
	<div class="header-section">Elenco indirizzi</div>
	
	<table width="100%">
		<thead>
			<tr>
				<th class="header">Via</th>
				<th class="header">Civico</th>
				<th class="header">Cap</th>
				<th class="header">Localita</th>
				<th class="header">Comune</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="indirizzo : ${listaIndirizzi}">
				<td th:text="${indirizzo.via}"></td>
				<td th:text="${indirizzo.civico}"></td>
				<td th:text="${indirizzo.cap}"></td>
				<td th:text="${indirizzo.localita}"></td>
				<td th:text="${indirizzo.comune.nome}"></td>
				
				<td><a th:href="@{/indirizzi/mostraformaggiorna/{id}(id=${indirizzo.id})}">Aggiorna</a></td>
				
			</tr>
		</tbody>
	</table>
	   <div class="link-home"><a href="/indirizzi/mostraformaggiungi">Aggiungi indirizzo</a></div>
	  </div>
	    <div class="link-home"><a href="/">Torna alla Home</a></div>
</body>
</html>