<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Epic Energy Service- clienti</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h6 class="mx-2">Epic Energy Service</h6>
<h3 class="mx-2">Elenco clienti</h3>

<!-- <div class="type-details"> -->
<!-- <form action="/clienti/findByFatturatoAnnualeBetween" method="GET"> -->
<!-- <div class="form-label"> -->
<!--   <input th:text="${fatturatoAnnuale}" type="number" class="form-control" name="da" placeholder="da"> -->
<!--   <input th:text="${fatturatoAnnuale2}" type="number" class="form-control" name="a" placeholder="a"> -->
<!--   <input type="submit" value="Ricerca"> -->
<!-- </div> -->
<!-- </form> -->
<!-- </div> -->

<!-- <div class="type-details"> -->
<!-- <form action="/api/findbyragionesociale" method="GET"> -->
<!-- <div class="form-label"> -->
<!--   <input type="text" class="form-control" id="floatingInput" name="nome" placeholder="Nome Contatto"> -->
<!--   <label for="nome" style="color: Black; ">Nome</label> -->
<!--   <input type="submit" value="Ricerca"> -->
<!-- </div> -->
<!-- </form> -->
<!-- </div> -->

   <table class="table mx-2">
     <thead>
        <tr>
            <th>Ragione Sociale</th>
            <th>Partita iva</th>
            <th>Email</th>
            <th>Fatturato annuo €</th>
            <th>Pec</th>
            <th>Telefono</th>
            <th>Email contatto</th>
            <th>Nome contatto</th>
            <th>Cognome contatto</th>
            <th>Telefono contatto</th>
            <th>Tipo cliente</th>
            <th>Sede legale</th>
            <th>Sede Operativa</th>
        </tr>
      </thead>
      <tbody>
            <tr th:each="cliente : ${clienti}">
               <td th:text="${cliente.ragioneSociale}"></td>
               <td th:text="${cliente.partitaIva}"></td>
               <td th:text="${cliente.email}"></td>
               <td th:text="${cliente.fatturatoAnnuale}"></td>
               <td th:text="${cliente.pec}"></td>
               <td th:text="${cliente.telefono}"></td>
               <td th:text="${cliente.emailContatto}"></td>
               <td th:text="${cliente.nomeContatto}"></td>
               <td th:text="${cliente.cognomeContatto}"></td>
               <td th:text="${cliente.telefonoContatto}"></td>
               <td th:text="${cliente.tipoCliente}"></td>
           	   <td th:text="${cliente.sedeLegale.toString()}"></td> 
               <td th:text="${cliente.sedeOperativa.toString()}"></td>
               
               <td>
               <a type="button" class="btn btn-sm btn-warning" th:href="@{/clienti/mostraformaggiorna/{id}(id=${cliente.id})}">Aggiorna</a>
               <a type="button" class="btn btn-sm btn-danger" onclick="confirm ('Sicuro di voler eliminare questo cliente?')" th:href="@{/clienti/eliminacliente/{id}(id=${cliente.id})} ">Elimina</a>
               </td>
               
            </tr>
       </tbody>
   </table>
   <p class="mx-2"><a type="button" class="btn btn-sm btn-primary" href="/clienti/mostraformaggiungi">Aggiungi cliente</a></p>
   <p class="mx-2"><a type="button" class="btn btn-sm btn-secondary" href="/">Torna alla Home</a></p>
   </body>
</html>